# Python compiled files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env/
*.env

# Streamlit specific files
.streamlit/
*.streamlit/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp

# Cache and data files
*.cache/
*.db
*.sqlite3

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.iml